/* =======================COMPONENTS=========================== */

.title {
    color: inherit; 
    font-style: normal;
    font-weight: 700;
}

/* =======================COMPONENTS=========================== */



/* =======================MAIN=========================== */

/* =======================HERO=========================== */

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height:  calc(60/44);
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.hero-btn {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #188CE8;
    cursor: pointer;
}

/* =======================HERO=========================== */

/* =======================CHARCTERISTIC=========================== */

.charct-menu-title {
    font-size: 14px;
    line-height: calc(16/14);
}

.charct-menu-text {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%; 
    letter-spacing: 0.42px;
}

/* =======================CHARACTERISTIC=========================== */

/* =======================IMG-CHARACTERISTIC=========================== */

.img-charct-title {
    font-size: 36px;
    line-height: calc(42/36);
}

/* =======================IMG-CHARACTERISTIC=========================== */

/* =======================OUR-TEAM=========================== */

.our-team {
    background-color: #F5F4FA;
}

.our-team-title {
    font-size: 36px;
    line-height: calc(42/36);
}

.our-team-menu {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.teammate-name {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(19/16);
    letter-spacing: 0.48px;
}

.our-team-menu-text {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
}
/* =======================OUR-TEAM=========================== */

/* =======================MAIN=========================== */
