/* =======================COMPONENTS=========================== */

.title {
    color: inherit; 
    font-style: normal;
    font-weight: 700;
}

/* =======================/COMPONENTS=========================== */



/* =======================MAIN=========================== */

/* =======================HERO=========================== */

.hero {
    background-image:linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(/img/hero-background.jpg);
    background-color: #C4C4C4;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height:  calc(60/44);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-btn {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    transition: background-color var(--transition-dur-func);
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #188CE8;
}

/* =======================/HERO=========================== */

/* =======================CHARCTERISTIC=========================== */

.charct-container{
    margin-bottom: 94px;
}

.charct-menu {
    display: flex;
    gap: 30px;
}

.charct-menu-item{
    width: 270px;
}

.charct-menu-icon-container{
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
    margin-bottom: 30px;
}

.charct-menu-title {
    font-size: 14px;
    line-height: calc(16/14);
}

.charct-menu-text {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%; 
    letter-spacing: 0.42px;
}

/* =======================/CHARACTERISTIC=========================== */

/* =======================IMG-CHARACTERISTIC=========================== */

.img-charct-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-charct-title {
    font-size: 36px;
    line-height: calc(42/36);
    margin-bottom: 50px;
}

.img-charct-menu{
    display: flex;
    gap: 30px;
}

.img-charct-menu-container{
    position: relative;
}

.img-charct-menu-overlay{
    bottom: 0;
    position: absolute;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.42px;
    background: rgba(47, 48, 58, 0.80);
    width: 100%;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
}

/* =======================/IMG-CHARACTERISTIC=========================== */

/* =======================OUR-TEAM=========================== */

.our-team {
    background-color: #F5F4FA;
}

.our-team-title {
    font-size: 36px; 
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}

.our-team-menu {
    display: flex;
    gap: 30px;
}

.our-team-menu-item{
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our-team-menu-container{
    padding: 30px 32px;
}

.teammate-name {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(19/16);
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 10px;
}

.our-team-menu-text {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    text-align: center;
}

.our-team-social-list{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
}

.our-team-social-link{
    width: 44px;
    height: 44px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-dur-func);
}

.our-team-social-icon{
    fill: var(--icon-color);
    transition: fill var(--transition-dur-func);
}

.our-team-social-link:hover,
.our-team-social-link:focus{
    background-color:  var(--hover-color);
}

.our-team-social-link:hover .our-team-social-icon,
.our-team-social-link:focus .our-team-social-icon{
    fill: #FFF;
}

/* =======================/OUR-TEAM=========================== */

/* =======================REGULAR-COSTUMERS=========================== */

.regular-costumers-title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 1.08px;
}

.regular-costumers-menu{
    display: flex;
    justify-content: space-between;
}

.regular-costumers-link{
    display: flex;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    transition: border-color var(--transition-dur-func);
}

.regular-costumers-icon{
    fill: var(--icon-color);
    transition: fill var(--transition-dur-func);
}

.regular-costumers-link:hover,
.regular-costumers-link:focus {
    border: 1px solid var(--hover-color);
}

.regular-costumers-link:hover svg,
.regular-costumers-link:focus svg {
    fill: var(--hover-color);
}

/* =======================/REGULAR-COSTUMERS=========================== */

/* =======================/MAIN=========================== */

/* =======================MODAL-WINDOW=========================== */

.backdrop{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
}

.modal-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius:50%;
    border: 1px solid #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button-close{
    transition: var(--transition-dur-func);
}

.modal-button:hover .modal-button-close,
.modal-button:focus .modal-button-close{
    fill: var(--hover-color);
}

/* =======================/MODAL-WINDOW=========================== */
